@{
    ViewData["Title"] = "PatternFly Home Page";
}

<div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
        <nav class="pf-c-nav"
             id="card-view-example-primary-nav"
             aria-label="Global">
            <ul class="pf-c-nav__list">
                <li class="pf-c-nav__item">
                    <a href="#"
                       class="pf-c-nav__link pf-m-current"
                       aria-current="page">System Panel</a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#" class="pf-c-nav__link">Policy</a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#" class="pf-c-nav__link">Authentication</a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#" class="pf-c-nav__link">Network Services</a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#" class="pf-c-nav__link">Server</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<button class="pf-c-button pf-m-primary" type="button">Primary</button>

<button class="pf-c-button pf-m-secondary" type="button">Secondary</button>

<button class="pf-c-button pf-m-secondary pf-m-danger"
        type="button">
    Secondary danger
</button>

<button class="pf-c-button pf-m-tertiary" type="button">Tertiary</button>

<button class="pf-c-button pf-m-danger" type="button">Danger</button>

<button class="pf-c-button pf-m-warning" type="button">Warning</button>

<br />
<br />
<button class="pf-c-button pf-m-link" type="button">
    <span class="pf-c-button__icon pf-m-start">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </span>
    Link
</button>

<button class="pf-c-button pf-m-link" type="button">
    Link
    <span class="pf-c-button__icon pf-m-end">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </span>
</button>

<button class="pf-c-button pf-m-link pf-m-danger" type="button">
    <span class="pf-c-button__icon pf-m-start">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </span>
    Link danger
</button>

<button class="pf-c-button pf-m-inline pf-m-link" type="button">Inline link</button>
<br />
<br />
<button class="pf-c-button pf-m-plain" type="button" aria-label="Remove">
    <i class="fas fa-times" aria-hidden="true"></i>
</button>
<br />
<br />
<button class="pf-c-button pf-m-control" type="button">Control</button>

<button class="pf-c-button pf-m-control" type="button" aria-label="Copy input">
    <i class="fas fa-copy" aria-hidden="true"></i>
</button>

<br />
<br />
<br />

<button class="pf-c-button pf-m-primary pf-m-small" type="button">Primary</button>

<button class="pf-c-button pf-m-secondary pf-m-small" type="button">Secondary</button>

<button class="pf-c-button pf-m-secondary pf-m-danger pf-m-small"
        type="button">
    Secondary danger
</button>

<button class="pf-c-button pf-m-tertiary pf-m-small" type="button">Tertiary</button>

<button class="pf-c-button pf-m-danger pf-m-small" type="button">Danger</button>

<button class="pf-c-button pf-m-warning pf-m-small" type="button">Warning</button>

<button class="pf-c-button pf-m-link pf-m-small" type="button">
    Link
    <span class="pf-c-button__icon pf-m-end">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </span>
</button>

<button class="pf-c-button pf-m-link pf-m-danger pf-m-small" type="button">
    Link danger
    <span class="pf-c-button__icon pf-m-end">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
    </span>
</button>

<button class="pf-c-button pf-m-inline pf-m-link pf-m-small"
        type="button">
    Inline link
</button>

<button class="pf-c-button pf-m-control pf-m-small" type="button">Control</button>
@*<div class="text-center">
        <h1 class="display-4">Welcome to PatternFly UI</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@